{% extends "ApplicationSonataUserBundle::layout.html.twig" %}

{% block fos_user_content %}
    <h1>{{ 'Help'|trans({}, 'SonataUserBundle') }}</h1>

    <div class="row">
        Here some help text.
    </div>
{% endblock fos_user_content %}
