{% extends "ApplicationSonataUserBundle::layout.html.twig" %}

{% block modules_content %}
    <h1>{{ 'Modules'|trans({}, 'SonataUserBundle') }}</h1>

    <div class="row">
        Modules
    </div>
{% endblock modules_content %}